// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: #e0de12;
  color: #515151;
  margin-bottom: 1rem;
  padding: 1rem;

  border-radius: 5px;
  font-family: IBMPlexSans;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
}
